Hi there. This is my personal project aimed to help developers working with the current test sidechain project.
If you are interested in getting in contact you can email me at <a href="mailto:robarada@indiana.edu">robarada@indiana.edu</a>.
<br> <br>
This was put together mostly on a weekend so there are still many things to do here. Going forward I hope to have these features
in progress or finished within the next few weeks:

<ol>
    <li>Intelligent Caching System</li>
    <li>REST and Websocket API</li>
    <li>Sidechain and Testnet Faucet</li>
    <li>Address Search Information</li>
    <li>New Block Alert</li>
    <li>Winston Logger Setup</li>
    <li>Refactor, Refactor, and more Refactoring</li>
    <li>NPM package with Sidechain RPC compatibility</li>
</ol>

Special thanks to the contributors of the Bitcoin-RPC project which saved me
some time (https://github.com/bitpay/bitcoind-rpc). I will publish an npm package of my
small modifications to help anyone else interested.

I love feedback and have time right now so if anyone has functionality request,
design preferences, suggestions, etc please email me or contribute to the project through github.